---
import { frontmatter } from "../../content/en/index.mdx";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="pt-20 h-dvh">
    <h1>{frontmatter.title}</h1>
  </main>
</Layout>
