---
export interface Props {
  id?: string;
  ariaLabel?: string;
  class?: string;
}
const { id, ariaLabel, class: className = "" } = Astro.props;
---

<button
  id={id}
  type="button"
  aria-label={ariaLabel}
  class={`text-foreground border border-primary bg-input/30 hover:bg-primary/10 transition-all ${className}`}
>
  <slot />
</button>
