---
export interface Props {
  id?: string;
  ariaLabel?: string;
  class?: string;
}
const { id, ariaLabel, class: className = "" } = Astro.props;
---

<button id={id} type="button" aria-label={ariaLabel} class={className}>
  <slot />
</button>
