---
export interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<ul
  class=`*:rounded-full *:border *:border-primary *:bg-primary/50 *:px-2 *:py-0.5 text-foreground text-sm text-center w-max ${className}`
>
  <li><slot /></li>
</ul>
