---

---

<ul
  class="*:rounded-full *:border *:border-primary *:bg-primary/50 *:px-2 *:py-0.5 dark:text-primary dark:*:border-primary/15 dark:*:bg-primary/10 text-foreground text-sm text-center"
>
  <li><slot /></li>
</ul>
