---
import Image from "astro/components/Image.astro";

export interface Props {
  id?: string;
  ariaLabel?: string;
  class?: string;
}

const { id, ariaLabel, class: className = "" } = Astro.props;

import Planet from "../icons/Planet.svg";
---

<el-dropdown class="inline-block">
  <button
    class="border border-primary bg-input/30 hover:bg-primary/10 text-foreground text-sm transition-all size-9 rounded-md h-9 w-9 flex items-center justify-center [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 cursor-pointer"
  >
    <Planet class="size-5" />
  </button>
  <el-menu
    anchor="bottom"
    popover
    class="w-12 bg-popover rounded-2xl text-popover-foreground"
  >
    <slot />
  </el-menu>
</el-dropdown>

<script
  src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"
  type="module"></script>
