---
import Button from "../atoms/Button.astro";
const { buttonTextDemo } = Astro.props;
---

<Button
  class="bg-primary hover:bg-primary/90 text-primary-foreground font-semibold px-8 py-3 rounded-xl cursor-pointer"
>
  {buttonTextDemo}
</Button>
