---
import Select from "../atoms/Select.astro";
import Language from "../molecules/Language.astro";
import ThemeToggle from "../molecules/ThemeToggle.astro";
---

<nav
  class="w-full flex items-center justify-between px-6 py-4 border-b border-black/10"
>
  <div><ThemeToggle /></div>
  <div><Language /></div>
</nav>
